{
  "drinks": "drinks.json",
  "camera": true,
  "cameraId": 0,
  "trackFaces": false,
  "mqtt": false,
  "mqttBroker": "mqtt://test.mosquitto.org",
  "pebble": false,
  "imgurToken": "123",
  "imgurAlbum": "456"
}
