{
  "drinks": "drinks.json",
  "pumps": "pumps.json",
  "camera": true,
  "cameraId": 0,
  "trackFaces": false,
  "mqtt": false,
  "mqttBroker": "mqtt://test.mosquitto.org",
  "pebble": false,
  "imgurToken": "abc",
  "imgurAlbum": "123"
}
